<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    padding: 37px 47px 84px 84px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    max-width: 1440px;
}


.logo img{
    width: 234px;
    height: 49px;
    cursor: pointer;
}


.nav a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 32px;
    color: #262626;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 40px;
    transition: background-color 0.3s ease; 
    cursor: pointer;
    
}

.nav{
    display: flex;
    justify-content: center;
}

.nav a:hover{
    background-color: #4CE0D7;
    border-radius: 40px;
    
}

.nav img{
    margin-left: 67px;
    cursor: pointer;
}





   /* fist-section */


   .first-section h4{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    color:#FFFFFF;
    margin-left: 57px;
   }

   .first-section h1{
    font-family: Poppins;
    font-size: 46px;
    font-weight: 400;
   line-height: 69px;
   color: #FFFFFF;
   margin-left: 57px;
}


   .first-section span {
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent; 
    font-weight: 700;
   }

   .first-section p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 57px;
    max-width: 494px;
   }


.first-section{
    display: flex;
    flex-direction: column;
    gap: 23px;
    background-image: url(./imgs/pexels-andrea-piacquadio-994234\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 218px;
    padding-bottom: 148px;
    max-width: 1272px;
    margin-left:  79px;
    border-radius: 20px;
  
}

    /* ----------------------- */

.section-topics h1{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
}



.cards img{
    width: 88px;
    height: 88px;
}

.cards h2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    color:#262626;
    
}

.cards button{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    color:#262626;
}

.topics{
margin-top: 73px;
margin-left: 84px;
display: flex;
flex-direction: column;
gap: 48px;

}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px 85px;
    width: max-content;
    padding: 51px 30px 30px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 6px 8px #0000000D;
    align-items: center;
    border-radius: 20px;
    
}

.cards button{
    width: 143.81px;
    height: 35.95px;
    border-radius: 40px;
    background-color: #4CE0D7;
    font-weight: 700;
    cursor: pointer;

    border: none;
}

.deck{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.cards button:hover{
    background-color:#8BA9F4;
}

.cards:hover{
    transform: translateY(-15px);
}
 
.line {
    width: 1267px;
    height: 0px;
    border-top: 1px solid #BCBCBC;
    opacity: 1;
    margin: 85px 52.2px 85px 85px;
}


/* --------------Fashion Section------------------ */

.fashionSection{
    background-color: #FFFFFF;

    width: 1204px;
    height: 698px;
    top: 1280px;
    left: 118px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;

    box-shadow: 0px 6px 6px 0px #0000000D;

    margin: 0 97px 118px 118px;

}

.fashionImage {
    position: relative;
}

.fashionImage img {
    border-radius: 20px;
    width: 1204px;
    height: 360.3px;
    top: 1280px;
    left: 118px;
    gap: 0px;
    opacity: 0px;
}

.fashionImage button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 233.95px;
    height: 36.49px;
    border-radius: 40px;
    color: #FFFFFF;
    border: none;
    background-color: #262626;

    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;

    margin-left: 40px;
    margin-top: 13px;

    cursor: pointer;
}
.fashionImage button:hover{
    background-color: rgb(205, 194, 174);
    color: black;
}


.fashionDate img{
    width: 65.67px;
    height: 50.77px;
    top: 1663.65px;
    left: 182.34px;
    gap: 0px;
    opacity: 0px;

    border-radius: 100%;
    
}

.fashionInfo small{
    color: #BCBCBC;

    width: 168px;
    height: 21px;
    top: 1678px;
    left: 269px;
    gap: 0px;
    opacity: 0px;
}

.fashionInfo{
    
    padding: 10px;
}

.fashionDate{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 30px;
    margin-left: 64px;

}

.profileInfo{
    justify-content: space-evenly;
}
.profileInfo img{
    cursor: pointer;
}

.profileInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    
}

.fashionDate b{
    display: flex;
    justify-content: center;
    color: #F25E5E;

    width: 216px;
    height: 23px;
    top: 1680px;
    left: 1042px;
    gap: 0px;
    opacity: 0px;

    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.24em;
    text-align: left;
}

.fashionText h1{
    width: 1044px;
    height: 36px;
    top: 1744px;
    left: 182px;
    gap: 0px;
    opacity: 0px;

    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;

    color: #262626;

    margin-left: 64px;
    margin-bottom: 23px;
    margin-right: 96px;
}

.fashionText p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color: #262626;

    margin-left: 64px;
    margin-bottom: 40px;
    margin-right: 107px;
    width: 800px;
    height: 71px;
    
}


.fashionReadMore{
    display: flex;
    margin-left: 51px;
}
.fashionReadMore b{
    display: flex;
    align-items: center;

    color: #4CE0D7;


}
.fashionReadMore{
    cursor: pointer;
    width: 160px;
}
.fashionReadMore:hover{
    transform: translateX(15px);
}
.fashionReadMore b:hover{
    color:  rgb(205, 194, 174);
}





/* trending section css starts here */

.trending-section {
    margin: 0px 118px 88px 118px;
    display: flex;
    flex-direction: column;
    margin-bottom: 88.2px;
}

.lifestyle, .summer {
    width: 579px;
    height: 670px;
    border-radius: 20px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.05);

}

.trending {
    margin-bottom: 55.04px;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: rgba(38, 38, 38, 1);
}

.button-first {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 175.44px;
    height: 36.49px;
    border-radius: 40px;
    color: #FFFFFF;
    border: none;
    background-color: rgba(38, 38, 38, 1);
    cursor: pointer;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

.button-first:hover {
    color: black;
    background-color: rgb(205, 194, 174);
}

.first-part {
    position: relative;
    margin-bottom: 23.34px;
}

.second-part {
    display: flex;
    align-items: center;
    padding: 0px 40px 0px 26.6px;
    margin-bottom: 28.75px;
}

.photo {
    width: 65.67px;
    height: 50.77px;
    border-radius: 100%;
    margin-right: 20.99px;
}

.photo:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.author {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(188, 188, 188, 1);
    margin-right: 200px;
}

.date {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(188, 188, 188, 1);
}

.third-part {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 34px;
}

.article-title {
        width: 471px;
    height: 94px;
    top: 2547px;
    left: 152px;
=======
/* cards-section container */

.cards-section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    margin-top: 88px; 
    margin-bottom: 69px; 
    max-width: 1204px; 
    margin-left: auto;
    margin-right: auto; 
}
.card1, .card2, .card3 { 
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%; 
    max-width: 1204px;
}

.cards {
    display: flex; 
    flex-direction: column; 
    gap: 50px; 
    width: 100%; 
}

.card1 {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.first-button {
    background: url(first.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 337px 304px 34px;
    margin-right: 45px;
    border-radius: 20px;
}

.first-button button {
    width: 175.44px;
    height: 36.49px;
    border-radius: 40px;
    background-color: #262626;
    border: none;
    color: white;
    font-family: 'poppins';
    font-size: 12px;
    font-weight: 700;
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.first-button button:hover {
    background: linear-gradient(90deg, #3D6C53, #CE9F73);
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.first-side-top {
    display: flex;
    gap: 17px;
    align-items: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: #BCBCBC;
    margin-bottom: 20px;
    margin-top: 15px;
}

.first-side-top div {
    display: flex;
    gap: 200px;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first-side-middle {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.first-side-middle h1 {
    width: 543px;
    height: 94px;
>>>>>>> sixth-section
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
<<<<<<< HEAD
    color: rgba(38, 38, 38, 1);
}

.article-text {
    width: 464px;
    height: 98px;
    top: 2643px;
    left: 153px;
=======
}

.first-side-middle p {
    width: 569px;
    height: 73px;
>>>>>>> sixth-section
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
<<<<<<< HEAD
    color: rgba(38, 38, 38, 1);
}

.fourth-part {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 34px;
    margin-bottom: 42px;
}


.fourth-part b {
    width: 216px;
    height: 23px;
    top: 2771px;
    left: 202px;
=======
    margin-top: 0;
    margin-bottom: 20px;
}

.first-side-bottom {
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
    
.first-side-bottom img {
    width: 21.67px; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain;

}

.first-side-bottom a {
>>>>>>> sixth-section
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
<<<<<<< HEAD
    text-align: left;
    color: rgba(76, 224, 215, 1);
}

.fourth-part:hover {
    cursor: pointer;
    transform: translateX(15px);
}

.lif-and-sum {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}


/* trending section responsive */


@media (min-width: 400px) and (max-width: 1024px) {
    /* Styles for tablets in both portrait and landscape mode */
    .lif-and-sum {
        display: flex;
        flex-direction: column;
    }
}


/* trending section css ends here */











/* footer css starts here!!! */

footer {
   background-color: rgba(255, 255, 255, 1);
   box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 0.05);
   border-radius: 40px 40px 0px 0px;
}

.lux-image {
    width: 226px;
    height: 49px;
    top: 4289px;
    left: 84px;
}

.footer-container {
    padding: 87px 0px 37px 0px;
}

.first-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 89px 37px 84px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-right: 89px;
}

.lets-hang-out {
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    gap: 21px;
}

.socials a:hover {
    transform: scale(1.5);
}

.second-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.copyright {
    margin-left: 87px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

/* footer responsive */

@media (min-width: 400px) and (max-width: 1024px) {
    /* Styles for tablets in both portrait and landscape mode */
    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .first-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .lux-image {
        padding-left: 0px;
    }

   

    .lets-hang-out {
        font-size: 16px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 90px;
    }

    .copyright {
        padding-left: 180px;
    }


}


=======
    color: #4CE0D7;
    margin: 0;
    text-decoration: none;
}

.first-side-bottom a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    overflow: hidden;
}

.first-side-bottom a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    transition: transform 0.3s ease;
    animation: shine 1s forwards;
}

@keyframes shine {
    0% {
        left: -100%;
    }
    20% {
        left: 100%;
    }
}

.card2 {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.second-button {
    background: url(second.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 337px 304px 34px;
    margin-right: 45px;
    border-radius: 20px;
}

.second-button button {
    width: 175.44px;
    height: 36.49px;
    border-radius: 40px;
    background-color: #262626;
    border: none;
    color: white;
    font-family: 'poppins';
    font-size: 12px;
    font-weight: 700;
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.second-button button:hover {
    background: linear-gradient(90deg, #3D6C53, #CE9F73);
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}


.card3 {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.third-button {
    background: url(third.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 337px 304px 34px;
    margin-right: 45px;
    border-radius: 20px;
}

.third-button button {
    width: 175.44px;
    height: 36.49px;
    border-radius: 40px;
    background-color: #262626;
    border: none;
    color: white;
    font-family: 'poppins';
    font-size: 12px;
    font-weight: 700;
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.third-button button:hover {
    background: linear-gradient(90deg, #3D6C53, #CE9F73);
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}
>>>>>>> sixth-section
